@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root {
    --primary-color: #F5CF06;
    --secundary-color: #8E4106;
    --fonte-padrao: "Righteous", sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: var(--fonte-padrao);
}

header {
    background-color:var(--primary-color);
    height: 20%;
    display: flex;
    flex-direction: row;
    padding: 4rem;
    gap: 12px;
    align-items: center;
}

.poke_bola {
    position: relative;
    z-index: 1;
    max-width: 3rem;
    max-height: 3rem;
}

.titulo_pagina {
    position: relative;
    z-index: 1;
    font-size: 32px;
    font-weight: 600;
    color: var(--secundary-color);
}

main {
    display: flex;
    flex-direction: row;
    background-color: var(--primary-color);
    height: 60%;
}

.pikachu {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

.pikachu_fundo {
    z-index: 0;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 1;
    margin: auto;
}

.info {
    display: flex;
    flex-direction: row;
    padding-bottom: 100px;
    align-items: flex-end;
    width: 100%;
}

.container_apresentacao {
    position: relative;
    z-index: 1;
    display: flex;
    width: 75%;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    color: var(--secundary-color);
    padding: 5rem;
    padding-bottom: 100px;
    padding-top: 20%;

}

.apresentacao_titulo {
    font-size: 64px;
    font-weight: 800;
}

.apresentacao {
    font-size: 24px;
    max-width: 500px;
}

.botao_download {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    width: 20%;
    height: 100px;
    align-items: center;
    justify-content: center;
    gap: 37px;
    font-size: 48px;
    font-family: var(--fonte-padrao);
    color: white;
    background-color: var(--secundary-color);
    padding: 20px;
    border: none;
}

footer {
    display: flex;
    background-color: var(--primary-color);
    height: 20%;
    padding: 5%;
    font-size: 16px;
    align-items: center;
    justify-content: center;
}

@media (max-width:768px) {

    main {
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
    }

    .info {
        padding-top: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .container_apresentacao {
        width: 100vw;
    }

    .botao_download {
        width: 40%;
    }

}
@media (max-width:360px) {

}